{{yield}}
<form class="filter-neuron-form">
    <fieldset class="form-group">
      {{input type="text" class="form-control pull-left input-filter-neuron" placeholder="Filter neuron" value=filter}}
    </fieldset>
</form>
{{#each visibleItems as |neuron|}}
  {{neuron-list-item neuron=neuron}}
{{/each}}
{{#if hasMore}}
    <div class="m-t-2">
        <button class="btn btn-primary center-block" {{action "showMore"}}>More</button>
    </div>
{{/if}}