<div class="media">
    <div class="media-left">
      {{#link-to "search" neuron.id}}
          <img class="media-object feed-item-image" src="{{neuron.image}}" alt="{{neuron.title}}" width="60">
      {{/link-to}}
    </div>

    <div class="media-body">
        <h5 class="media-heading">{{#link-to "search" neuron.id}}{{neuron.title}}{{/link-to}}</h5>
        <ul class="list-inline pull-left">
            <li><span class="text-muted">Added:</span> {{moment-to-now neuron.created}}</li>
        </ul>
    </div>
</div>