<form class="form-inline">
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <i class="fa fa-plus"></i> Add
        </button>
        <div class="dropdown-menu">
            <button class="dropdown-item">Text / Link</button>
            <button class="dropdown-item">Upload image</button>
            <button class="dropdown-item">Upload audio</button>

            <div class="dropdown-divider"></div>
            <button class="dropdown-item">Post</button>
            <button class="dropdown-item disabled">Project</button>
        </div>
    </div>
</form>


{{yield}}
