{{yield}}

{{#each visibleItems as |neuron|}}
  {{neuron-list-item neuron=neuron}}
{{/each}}
{{#if hasMore}}
    <div class="m-t-2">
        <button class="btn btn-primary center-block" {{action "showMore"}}>More</button>
    </div>
{{/if}}