@mixin contain-image {
  background-position: center;
  background-size: contain;
}

@mixin feed-item-image {
  width: 60px;
  height: 60px;
}

@for $i from 0 through 2 {
  .feed-image-#{$i} {
    @include contain-image;
    @include feed-item-image;
    background-image: url("/img/feed/#{$i}.png");
  }
}

.right-panel {
  left: auto;
  width: 300px;
  max-width: 100%;
  bottom: 0;
  transition: transform 0.3s ease;
  transform: translateX(300px);
}

.right-panel--visible {
  transform: translateX(0);
}

.right-panel--toggle-button {
  top: 8px;
  left: auto;
}
