@import "bower_components/font-awesome/scss/font-awesome";
@import "profile-feed";

.feed-item-image {
  width: 60px;
  height: 60px;
}

@mixin right-panel-position {
  top: 54px;
  right: 0;
}

.right-panel {
  @include right-panel-position;

  position: fixed;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  transition: transform 0.3s ease;
  transform: translateX(300px);
}

.right-panel--visible {
  transform: translateX(0);
}

.right-panel--toggle-button {
  @include right-panel-position;

  position: absolute;
}

.comment-form .block-comment, .media .block-comment {
  margin-left: 70px;
}

.neuron-comments, .comment-form {
  margin-bottom: 20px;
}
