@mixin contain-image {
  background-position: center;
  background-size: contain;
}

@mixin feed-item-image {
  width: 60px;
  height: 60px;
}

@for $i from 0 through 2 {
  .feed-image-#{$i} {
    @include contain-image;
    @include feed-item-image;

    background-image: url("/img/feed/#{$i}.png");
  }
}

@mixin right-panel-position {
  top: 54px;
  right: 0;
}

.right-panel {
  @include right-panel-position;

  position: fixed;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  transition: transform 0.3s ease;
  transform: translateX(300px);
}

.right-panel--visible {
  transform: translateX(0);
}

.right-panel--toggle-button {
  @include right-panel-position;

  position: absolute;
}
