<h1>Welcome to LivaRava Mockups</h1>


{{#link-to "profile-feed" class="btn btn-success m-t-1 m-b-2"}}Your feed{{/link-to}}

<h4>Example neurons</h4>

{{neuron-connections model=model itemsToShow=100}}